index

<h1>投稿一覧</h1>

<% @posts.each do |post| %>

  <p>タイトル</p>

  <span>
    <%= link_to post.name,  users_post_path(post.id) %>
  </span>

  <p><%= link_to "#{post.comments.count} コメント", users_post_path(post.id) %></p>

<% end %>


<%= link_to "新規投稿", new_users_post_path %>

<h1>投稿検索</h1>
<%= search_form_for @q, url:  search_users_posts_path do |f| %>
  <%= f.label :name_cont, 'ユーザー名' %>
  <%= f.search_field :name_cont %>
  <br>
  <%= f.submit '検索' %>
<% end %>
