show

<h2>タイトル</h2>
<p><%= @post.name %></p>

<h2>本文</h2>
<p><%= @post.introduction %></p>

<h2>投稿写真</h2>
  <% if post.image.attached? %>
    <%= image_tag post.image, size: "100x100" %>
  <% else %>
    <%= image_tag 'no_image', size: "100x100" %>
  <% end %>
  
  <% @post.tags.each do |tag| %>
    <%= tag.name %>
  <% end %>

<p><%= link_to "#{@post.comments.count} コメント", users_post_path(@post.id) %></p>

<%= link_to "編集", edit_users_post_path(@post.id) %>

<% if @post.favorited_by?(current_user) %>
    <p>
      <%= link_to users_post_favorite_path(@post), method: :delete do %>
        ♥<%= @post.favorites.count %> いいね
      <% end %>
    </p>
    <% else %>
    <p>
      <%= link_to users_post_favorite_path(@post), method: :post do %>
        ♡<%= @post.favorites.count %> いいね
      <% end %>
    </p>
<% end %>

<%= link_to "いいね一覧", users_favorites_path %>

<div>
  <p>コメント件数：<%= @post.comments.count %></p>
  <% @post.comments.each do |comment| %>
    <p><%= image_tag comment.user.get_profile_image(100,100) %></p>
    <%= comment.user.name %>
    <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.comment %>
    <% if comment.user == current_user %>
      <%= link_to "削除", users_post_comment_path(comment.post, comment), method: :delete %>
    <% end %>
  <% end %>
</div>
<div>
  <%= form_with model: [:users, @post, @comment] do |f| %>
    <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
    <%= f.submit "送信する" %>
  <% end %>
</div>