<h1>Top Page</h1>


  <h2 class="text-center">新着記事</h2>
  <div class="row">
    <% @posts.each do |post| %>
      <div class="col-sm-4">
        <!-- title start -->
        <h2 class="text-center h3">
        <% if admin_signed_in? %>
          <%= link_to post.name, admin_post_path(post.id) %>
        <% elsif user_signed_in? %>
          <%= link_to post.name, post_path(post.id) %>
        <% else %>
          <%= post.name %>
        <% end %>
        </h2>
        <!-- title end -->

        <!-- image start -->
        <div class="text-center">
          <% image_name = post.image.attached? ? post.image : 'no_image' %>
          <%= image_tag image_name, class: "img-fluid", size: "100x100" %>
        </div>
        <!-- image end -->

        <div>
          <!-- tag start -->
          <div>
            <% post.tags.each do |tag| %>
              <span><%= tag.name %></span>
            <% end %>
          </div>
          <!-- tag end -->

          <!-- comment start -->
          <div style="width:100%;height: 100px">
            <% if admin_signed_in? %>
              <p><%= link_to "#{post.comments.count} コメント", admin_post_path(post.id) %></p>
            <% elsif user_signed_in? %>
              <p><%= link_to "#{post.comments.count} コメント", post_path(post.id) %></p>
            <% else %>
            <% end %>
          </div>
          <!-- comment end -->
        </div>
      </div>
    <% end # @posts.each end %>
  </div><!-- row end -->


<%= paginate @posts %>
