top page
<% if user_signed_in? && current_user.is_guest? %>
  <%= link_to "投稿" , new_post_path %>
<% end %>
<% if user_signed_in? %>
  <%= link_to "ユーザー" , user_path(current_user) %>
<% end %>


  <% @posts.each_slice(3) do |posts| %>
    <div class="row">
    <% posts.each do |post| %>
      <div class="col-sm-4">
        
        <% if admin_signed_in? %>
          <span>
          <%= link_to post.name, admin_post_path(post.id) %>
          </span>
          <p><%= link_to "#{post.comments.count} コメント", admin_post_path(post.id) %></p>
        <% elsif user_signed_in? %>
          <span>
            <%= link_to post.name, post_path(post.id) %>
          </span>
          <p><%= link_to "#{post.comments.count} コメント", post_path(post.id) %></p>
        <% end %>
        
        <% if post.image.attached? %>
          <%= image_tag post.image, class: "img-fluid" %>
        <% else %>
          <%= image_tag 'no_image', style: "width:100%;" %>
        <% end %>
        
        <% post.tags.each do |tag| %>
            <%= tag.name %>
        <% end %>
      </div>
    <% end %>
    </div>
  <% end %>
</div>



