<div class="container">
  <div class="row mb-3">
    <div class="col">
      <h4>会員情報編集</h4>
    </div>
  </div>

  <%= form_for(@user, url: admin_user_path, html: { method: :put }) do |f| %>
    <div class="row mb-3">
      <%= f.label "ユーザーネーム", class:"col-md-2 offset-md-1" %>
      <%= f.text_field :name, autofocus: true, autocomplete: "name", class:"col-md-2 form-control" %>
    </div>
    <div class="row mb-3">
      <%= f.label "メールアドレス", class:"col-md-2 offset-md-1" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"col-md-2 form-control" %>
    </div>
    <div class="row mb-3">
      <%= f.submit "編集内容を保存", class:"col-md-2 offset-md-2 btn btn-success" %>
      <%= link_to "削除する", admin_user_path(@user.id), class:"col-md-2 offset-md-2 btn btn-danger", method: :delete %>
  <% end %>
    </div>
</div>