<h1>編集画面</h1>

<% if @user.errors.any? %>
  <%= @user.errors.count %>件のエラーが発生しました
  <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
 <% end %>


<%= form_with model: @user, url: user_path(@user.id), method: :patch do |f| %>
  <h4>名前</h4>
  <%= f.text_field :name %>

  <h4>メールアドレス</h4>
  <%= f.email_field :email %>

  <h4>パスワード</h4>
  <%= f.password_field :password %>

  <h4>パスワード（確認用）</h4>
  <%= f.password_field :password_confirmation %>

  <%= f.submit '保存',class:"btn btn-primary py-0"%>
<% end %>

<%= link_to "アカウントの削除", user_path(@user.id), class:"btn btn-danger py-0", method: :delete, "data-confirm" => "本当に削除しますか？" %>
<%= link_to "変更せずマイページへ", user_path(@user.id), class:"btn-dark py-0"%>
