<h1><%= @user.name %>様のマイページ</h1>

<div class="mt-5 mb-3">
  <%= link_to 'ユーザー情報の編集' ,edit_user_path(@user.id), class:"btn btn-success py-0" %>
</div>

<div class="sample">
  <table class="table">
  <thead>
    <tr>
      <th scope="col">タイトル</th>
      <th scope="col">本文</th>
      <th scope="col">投稿写真</th>
      <th scope="col">タグ</th>
    </tr>
  </thead>
  <tbody>
<% @posts.each do |post| %>
  <tr>
  <td><%= link_to post.name, post_path(post.id) %></td>
  <td><%= post.introduction %></td>
  <td><% if post.image.attached? %>
    <%= image_tag post.image, size: "100x100" %>
  <% else %>
    <%= image_tag 'no_image', size: "100x100" %>
  <% end %></td>
  <td><% post.tags.each do |tag| %>
    <%= tag.name %>
  <% end %></td>
  </tr>
<% end %>
</tbody>
</table>
</div>

<%= paginate @posts %>